body {
    display:block;
    font-size: 0.9em;
}
h1 {
    display: flex;
    border: 2rem;
    padding: 2rem;
    margin: 2rem;
    justify-content: center;
}
.headmenu .footmenu {
    display: flex;
    justify-content: space-between;
}
.headtitle {
    background: cyan;
}
.Accessibility-choices
{
    font-size: 1.2em;
    background-color: brown;
    color: antiquewhite;
}
.footcopyright {
    text-align: right;
}
ul {
    display: flex;
    justify-content: space-evenly;
    gap: 0.1%;
    list-style-type: none;
}
a{
    font-size: 1rem;
    text-decoration: none;
    padding:0.1%;

}
.introduction {
    font-size:1rem;
}
.morestoriesclass{
    font-size:0.9rem;
    text-decoration: none;
    list-style-type: none;
    background: white;
}
nav {
    display: flex;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    text-align: center;
    color: #464141;
    margin: 0;
    font-family: sans-serif;
}
nav a:hover {
    background-color: #777777;
    color: #FFFFFF;
}
.leftsidenav {
    left: 0;
    align-items: flex-start;    
}

  /* The side navigation menu */
.sidenav {
    display: flex;
    flex-wrap: wrap;
    height: 100%; /* 100% Full-height */
    width: 125px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color:bisque; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px; /* Place content 60px from the top */
    /* transition: 0.5s;  0.5 second transition effect to slide in the sidenav */
}
  /* The navigation menu links */
.sidenav a {
    padding: 2px 2px 2px 2px;
    text-decoration: none;
    font-size: 15px; 
    color: #818181; 
    display: block; 
 /*   transition: 0.1s; */
}
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #F1F1F1;
}

#main{
    margin-left: 175px;
    margin-right: 175px;
}

  /* The side navigation menu */
  .rightsidenav {
    right: 0;
    align-items: flex-end;
  }
   
