body {
    display:block;    

}
h1 {
    display: flex;
    border: 2rem;
    padding: 2rem;   
    margin: 2rem;
    justify-content: center;
}

.headclass {
    display: flex;
    justify-content: space-evenly;
}
.headtitleclass {
    background: cyan;
}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    list-style-type: none;
}
a{
    font-size: 20px;
    text-decoration: none;
    padding:10px;
    background: white;
}