body {
    display:block;    
    font-size: 1em;
}
h1 {
    display: flex;
    border: 2rem;
    padding: 2rem;   
    margin: 2rem;
    justify-content: center;
}
img {
    max-width: 100%;
    height: auto;
}

.headmenu .footmenu {
    display: flex;
    justify-content: space-between;
}
.headtitle {
    background: cyan;
}
.accessibility-choices {
    font-size: 15em;
}
.footcopyright {
    text-align: right;
}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 0.1%;
    list-style-type: none;
}
a{
    font-size: 1rem;
    text-decoration: none;
    padding:0.1%;
    background: white;
}
.introduction {
    font-size:1rem;
}
.accessible-city-link {
    font-size: 2rem;
}
.a11checks {
    font-size:1.1rem;
}

.morestoriesclass{
    font-size:0.9rem;
    text-decoration: none;
    list-style-type: none;
    background: white;
}